@import "https://code.highcharts.com/css/highcharts.css";
.highcharts-root {
  position: relative;
}
.highcharts-container {
  z-index: 1 !important;
}
.highcharts-title {
  position: absolute;
  right: 0;
  top: 0;
  display: none;
}

.highcharts-background {
  fill: transparent;
}
.highcharts-plot-background {
  width: 1440px !important;
  height: 580px !important;
}
image[width="1420"] {
  width: 1440px !important;
  height: 680px !important;
  /* x: 0 !important;
  y: 0 !important; */
}
.highcharts-legend-item {
  margin-right: 101px;
}
.highcharts-point {
  stroke-width: 0;
}

.highcharts-series-3.highcharts-packedbubble-series:hover .highcharts-point {
  fill-opacity: 1;
  fill: #ff9900;
}
.highcharts-series-1.highcharts-packedbubble-series:hover .highcharts-point {
  fill-opacity: 1;
  fill: #957bff !important;
}
.highcharts-series-2.highcharts-packedbubble-series:hover .highcharts-point {
  fill-opacity: 1;
  fill: #1ae276 !important;
}
.highcharts-series-0.highcharts-packedbubble-series:hover .highcharts-point {
  fill-opacity: 1;
  fill: #0084ff !important;
}
.highcharts-legend-item text {
  font-size: 1rem !important;
}
.highcharts-legend-item.highcharts-series-3 .highcharts-point {
  fill: #ff9900;
  width: 9px !important;
}
.highcharts-legend-item.highcharts-series-1 .highcharts-point {
  fill: #957bff;
}
.highcharts-legend-item.highcharts-series-2 .highcharts-point {
  fill: #1ae276;
}
.highcharts-legend-item.highcharts-series-0 .highcharts-point {
  fill: #0084ff;
}
.highcharts-legend-item .highcharts-graph {
  stroke: transparent;
}

.highcharts-series-3.highcharts-packedbubble-series .highcharts-label.highcharts-data-label text {
  fill: #ff9900 !important;
  color: #ff9900 !important;
}
.highcharts-series-1.highcharts-packedbubble-series .highcharts-label.highcharts-data-label text {
  fill: #957bff !important;
  color: #957bff !important;
}
.highcharts-series-2.highcharts-packedbubble-series .highcharts-label.highcharts-data-label text {
  fill: #1ae276 !important;
  color: #1ae276 !important;
}
.highcharts-series-0.highcharts-packedbubble-series .highcharts-label.highcharts-data-label text {
  fill: #0084ff !important;
  color: #0084ff !important;
}

.highcharts-packedbubble-series.highcharts-series-hover
  .highcharts-label.highcharts-data-label
  text {
  color: #fff !important;
  fill: #fff !important;
}
