:root {
  --Main_Blue: #0084FF;
  --Main_NeonGreen: #0BF275;
  --Main_Background: #212121;
  --Gray1_50:#FAFAFA;
  --Gray2_100:#F5F5F5;
  --Gray3_200:#EEEEEE;
  --Gray4_300:#D9D9D9;
  --Gray5_400:#BDBDBD;
  --Gray6_500:#959595;
  --Gray7_600:#757575;
  --Gray8_700:#616161;
  --Gray9_800:#424242;
  --Gray10_900:#212121;
}
